.DS_Store

.ycm_extra_conf.py
.ycm_extra_conf.pyc

.lvimrc

.tup

.clangd

.envrc

compile_commands.json

out/*
coverage/*

app-ios.xcodeproj/project.xcworkspace/
app-ios.xcodeproj/xcuserdata/
lib-core.xcodeproj/project.xcworkspace/
lib-core.xcodeproj/xcuserdata/
